<hr><p>
Space Weather Message Code: ALTK05<br>
Serial Number: 1260<br>
Issue Time: 2019 Mar 01 0558 UTC<br>
</p>
<p>ALERT: Geomagnetic K-index of 5<br>
Threshold Reached: 2019 Mar 01 0559 UTC<br>
Synoptic Period: 0300-0600 UTC<br>
Active Warning: Yes<br>
NOAA Scale: G1 - Minor<br>
www.swpc.noaa.gov/noaa-scales-explanation<br>
Potential Impacts: Area of impact primarily poleward of 60 degrees Geomagnetic Latitude.<br>
Induced Currents - Weak power grid fluctuations can occur.<br>
Spacecraft - Minor impact on satellite operations possible.<br>
Aurora - Aurora may be visible at high latitudes, i.e., northern tier of the U.S. such as northern Michigan and Maine.<br>

<hr><p>
Space Weather Message Code: WARK05<br>
Serial Number: 1516<br>
Issue Time: 2019 Mar 01 0558 UTC<br>
</p>
<p>EXTENDED WARNING: Geomagnetic K-index of 5 expected<br>
Extension to Serial Number: 1515<br>
Valid From: 2019 Mar 01 0153 UTC<br>
Now Valid Until: 2019 Mar 01 1200 UTC<br>
Warning Condition: persistence<br>
www.swpc.noaa.gov/noaa-scales-explanation<br>
Potential Impacts: Area of impact primarily poleward of 60 degrees Geomagnetic Latitude.<br>
Induced Currents - Weak power grid fluctuations can occur.<br>
Spacecraft - Minor impact on satellite operations possible.<br>
Aurora - Aurora may be visible at high latitudes, i.e., northern tier of the U.S. such as northern Michigan and Maine.<br>

<hr><p>
Space Weather Message Code: WARK04<br>
Serial Number: 3602<br>
Issue Time: 2019 Mar 01 0154 UTC<br>
</p>
<p>EXTENDED WARNING: Geomagnetic K-index of 4 expected<br>
Extension to Serial Number: 3601<br>
Valid From: 2019 Feb 27 1730 UTC<br>
Now Valid Until: 2019 Mar 01 1200 UTC<br>
Warning Condition: Persistence<br>
www.swpc.noaa.gov/noaa-scales-explanation<br>
Potential Impacts: Area of impact primarily poleward of 65 degrees Geomagnetic Latitude.<br>
Induced Currents - Weak power grid fluctuations can occur.<br>
Aurora - Aurora may be visible at high latitudes such as Canada and Alaska.<br>

<hr><p>
Space Weather Message Code: WARK05<br>
Serial Number: 1515<br>
Issue Time: 2019 Mar 01 0154 UTC<br>
</p>
<p>WARNING: Geomagnetic K-index of 5 expected<br>
Valid From: 2019 Mar 01 0153 UTC<br>
Valid To: 2019 Mar 01 0600 UTC<br>
Warning Condition: Onset<br>
NOAA Scale: G1 - Minor<br>
www.swpc.noaa.gov/noaa-scales-explanation<br>
Potential Impacts: Area of impact primarily poleward of 60 degrees Geomagnetic Latitude.<br>
Induced Currents - Weak power grid fluctuations can occur.<br>
Spacecraft - Minor impact on satellite operations possible.<br>
Aurora - Aurora may be visible at high latitudes, i.e., northern tier of the U.S. such as northern Michigan and Maine.<br>
