html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P', cursive;
  cursor: auto !important;
}

a {
  cursor: pointer !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.nes-container.main {
  margin-top: 5vh;
}

.nes-container.item {
  height: 10vh;
  margin-top: 2vh;
}

.vertical-center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mag {
  font-size: 100px;
  color: red;
}

#no_current {
  font-size:60px;
  color: green;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
